/* Level Up Website*/
/* Author: Abi Matthews-Gordon */


/* --------------------------------- */
/*          1. General */
/* --------------------------------- */
:root {
    /* colours */
    --primary-blue: #1C96B3;
    --secondary-blue: #66CCEB;
    --black: #1C1F20;
    --black-75: #5a5c5d;
    --black-50: #848585;
    --black-25: #aeafaf;
    --black-10: #c8c8c8;
    --black-5: #d1d1d1;
    --error: #e63329;
    --dark-mode-primary: #242E42;
    --dark-mode-secondary: #2F3B52;

    /* transition */
    /* --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease; */
}

html {
    width: 100%;
    height: 100%;
    font-family: 'Roboto';
}

a {
    text-decoration: none;
    color: #000;
}

body {}

.primary-blue-text {
    color: #1C96B3;
}

.primary-blue {
    background-color: #1C96B3;
    color: #fff;
}

.primary-blue:hover {
    background-color: #1C96B3;
    color: #fff;
}

/* --------------------------------- */
/*              Typography */
/* --------------------------------- */
a {
    text-decoration: none;
}

/*headings*/
h1.blue,
h2.blue,
h3.blue,
h4.blue,
h5.blue,
h6.blue {
    color: var(--primary-blue);
    /* font-family: 'Roboto';
    font-weight: 700; */
    /* line-height: 1.3; */
}

/* h1.thin,
h2.thin,
h3.thin,
h4.thin,
h5.thin,
h6.thin {
    font-family: 'Roboto condensed';
    font-weight: 400;
    line-height: 1.3;
} */


/* --------------------------------- */
/*           1. REGISTRATION PAGE */
/* --------------------------------- */
.registration-page {
    .logo i {
        font-size: 35px;
    }

    h2 {
        margin-top: 0;
    }

    p.no-margin-bottom {
        margin-bottom: 0;
    }

    .auth-form-container {
        background: #BBE8F6;
        padding-bottom: 30px !important;
        position: relative;

        input.form-control {
            border: 1px solid #1C96B3;
        }

        [type=submit] {
            border: none;
        }

        .logo-shadow {
            position: absolute;
            color: var(--primary-blue);
            font-size: 100px;
            z-index: 0;
            transform: rotate(45deg) scale(200%);
            opacity: .3;
        }
    }
}

.register-check:checked {
    background-color: var(--primary-blue);
    border-color: var(--primary-blue);
}

/* --------------------------------- */
/*           2. PROFILE PAGE */
/* --------------------------------- */
.profile-page {

    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 410px;
        padding: 10px 14px;
        background-color: var(--secondary-blue);

        /* header section */
        .header {
            display: inline-block;
            margin-bottom: 40px;
            padding-bottom: 10px;
            border-bottom: 1px solid var(--black-75);

            .header-container {

                .image {
                    i {
                        font-size: 30px;
                    }
                }

                .text {
                    font-size: 30px;
                    padding-left: 80px;
                    padding-right: 80px;
                    text-transform: uppercase;
                }

                .toggle {
                    font-size: 18px;
                    border: 1px solid #817f7f;
                    background-color: #cec9c9;
                    padding: 2px;
                    border-radius: 5px;
                }

            }
        }

        /* name section */
        .name-section {
            background-color: #94d1e3;
            border-radius: 15px;
            margin-bottom: 40px;
            padding: 20px;

            h3 {
                font-size: 35px;
                margin-bottom: 20px;
            }

            .profile-picture-container {

                .picture {
                    background: transparent;
                    width: 65px;
                    height: 65px;
                    border-radius: 50%;
                }

                .text {
                    line-height: 1.3;
                    padding-right: 20px;
                    padding-left: 30px;
                }

                .tick-icon {
                    color: #ff0000;
                    text-shadow: 2px 2px 3px #0006;
                    font-size: 20px;
                }
            }

        }

        /* progress section */
        .progress-section {
            padding: 15px;
            background-color: #94d1e3;
            border-radius: 15px;
            margin-bottom: 40px;

            .goal {
                margin-right: 10px;
                padding: 23px 15px;
                width: 160px;
                background-color: #5fadc5;
                border-radius: 15px;

                h6 {
                    margin-bottom: 10px;
                    font-size: 25px;
                }

                p {
                    font-size: 13px;
                    margin-bottom: 8px;
                    line-height: 1.2;
                }

                .goal-progress {
                    position: absolute;
                    height: 12px;
                    width: 120px;
                    background-color: #fff;
                    border-radius: 10px;

                    .progress-bar {
                        position: relative;
                        height: 12px;
                        width: 45px;
                        background-color: #555;
                        top: 0px;
                        left: 0px;
                        border-radius: 10px;
                    }

                    .progress-circle {
                        position: relative;
                        height: 25px;
                        width: 25px;
                        background-color: #555;
                        border-radius: 50%;
                        top: -18px;
                        left: 40px;

                        span {
                            position: absolute;
                            font-size: 9px;
                            color: #fff;
                            top: 6px;
                            left: 4px;
                        }


                    }

                }

                a {
                    position: relative;
                    top: 16px;
                    left: 22px;
                    font-size: 14px;
                    border-bottom: 1px solid var(--dark-mode-secondary);
                }
            }

            .track {
                padding: 23px 15px;
                width: 160px;
                background-color: #5fadc5;
                border-radius: 15px;

                h6 {
                    margin-bottom: 10px;
                    font-size: 25px;
                }

                p {
                    font-size: 13px;
                    margin-bottom: 8px;
                    line-height: 1.2;
                }

                .track-progress {
                    position: absolute;
                    height: 12px;
                    width: 120px;
                    background-color: #fff;
                    border-radius: 10px;

                    .progress-bar {
                        position: relative;
                        height: 12px;
                        width: 45px;
                        background-color: #555;
                        top: 0px;
                        left: 0px;
                        border-radius: 10px;
                    }

                    .progress-circle {
                        position: relative;
                        height: 25px;
                        width: 25px;
                        background-color: #555;
                        border-radius: 50%;
                        top: -18px;
                        left: 40px;

                        span {
                            position: absolute;
                            font-size: 9px;
                            color: #fff;
                            top: 6px;
                            left: 4px;
                        }


                    }

                }

                .links {

                    a {
                        position: relative;
                        top: 16px;
                        left: 6px;
                        font-size: 14px;
                        border-bottom: 1px solid var(--dark-mode-secondary);
                    }
                }


            }
        }

        /* links section */
        .links-section {
            background-color: #94d1e3;
            border-radius: 10px;
            margin-bottom: 40px;
            padding-bottom: 20px;
            padding-top: 20px;

            .links-container {
                margin-right: 20px;
                margin-left: 20px;
                width: 160px;
                background-color: #5fadc5;
                border-radius: 8px;
                padding-top: 20px;

                ul {
                    list-style: none;

                    a {
                        display: inline-block;
                        padding: 8px 20px;
                        font-weight: 500;
                    }
                }
            }
        }

        /* notification-section */
        .notification-section {
            padding-top: 32px;
            padding-bottom: 32px;
            padding-left: 18px;
            background-color: #94d1e3;
            border-radius: 15px;

            .date {
                margin-bottom: 0;
                position: relative;

                .sec-border {
                    height: 135px;
                    width: 135px;
                    border: 5px solid var(--primary-blue);
                    padding: 8px;

                    .month {
                        font-size: 18px;
                    }

                    .day {
                        font-size: 45px;
                        color: var(--primary-blue);
                        font-weight: 500;
                        line-height: .8;
                        margin-bottom: 9px;
                    }

                    .year {
                        font-size: 18px;
                    }
                }

                .mentor-pic {
                    position: absolute;
                    top: 0px;
                    left: 10px;

                    .picture {
                        background: transparent;
                        width: 55px;
                        height: 55px;
                        border-radius: 50%;
                        position: relative;
                        top: -20px;
                        left: -20px;
                    }
                }

                .meeting-time {
                    position: absolute;
                    bottom: -4px;
                    left: 29px;
                    height: 28px;
                    width: 100px;
                    padding-left: 9px;
                    padding-right: 9px;
                    background-color: var(--primary-blue);
                    border-radius: 9px;

                    p {
                        position: absolute;
                        top: 2px;
                        margin-bottom: 0;
                    }
                }
            }

            .reminder {

                h6 {
                    font-size: 20px;
                }

                p {}
            }




        }

    }

}