<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - frontend</title>
    <!--<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />-->
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <!--<link rel="stylesheet" href="~/frontend.styles.css" asp-append-version="true" />-->
</head>
<body data-pageName="@ViewData["PageName"]">

    <!-- main menu -->
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <div class="collapse navbar-collapse justify-content-between menu-container">
                <!-- brand name -->
                <div class="brand-name">
                    <h3 class="mb-0"><a asp-controller="Home" asp-action="Index">Level<span>Up</span></a></h3>
                </div>

                <!-- menus -->
                <div class="menus">
                    <a asp-area="" asp-controller="Careers" asp-action="Index">Career Paths</a>
                    <a asp-area="" asp-controller="Courses" asp-action="Index">Courses</a>
                    <a href="../skill/my-skills.html">Assessment</a>
                    <a href="../mentor/mentors.html">Mentors</a>
                    <a href="#">About Us</a>
                    <a href="#">Contact</a>
                </div>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>
   <!-- <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">frontend1</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                    
                </div>
            </div>
        </nav>
     </header> -->

    
        
            @RenderBody()
    
        <!-- footer -->
    <footer class="footer">
        <div class="container">
            <div class="brand-name">
                <h3 class="mb-0"><a href="">Level<span>Up</span></a></h3>
            </div>

            <div class="menus">
                <a href="career-paths.html">Career Paths</a>
                <a href="#">About Us</a>
                <a href="#">Contact</a>
                <a href="#">Become a mentor</a>
                <a href="#">Privacy</a>
                <a href="#">Terms</a>
            </div>

            <div class="row socials-and-switch justify-content-between">
                <div class="col-3 socials">
                    <a href=""><i class="bi bi-linkedin"></i></a>
                    <a href=""><i class="bi bi-twitter-x"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                </div>

                <div class="col-2 switch">
                    <a href=""><i class="bi bi-chevron-left"></i>Log In</a>
                    <a href="">Sign Up<i class="bi bi-chevron-right"></i></a>
                </div>
            </div>

            <p>&copy 2024 All rights reserved.</p>
        </div>
    </footer>

    <!-- scroll to top button-->
    <button class="scrollToTop hide" type="button">
        <i class="bi bi-arrow-up"></i>
    </button>

    <!-- <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - frontend - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> -->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="module" src="~/js/lib.js" asp-append-version="true"></script>
    <script type="module" src="~/js/index.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
