@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<!-- <h1>@ViewData["Title"]</h1>

<h2>Enter your email.</h2>
<hr />-->

<div class="container">
    <div class="row justify-content-center">
        <div class="auth-form-container col-lg-4 col-md-6 card mt-5 p-5">
            <form method="post" class="row g-3 needs-validation" novalidate>
                <h2 class="text-center primary-blue-text">Forgot Password</h2>

                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                <p>Enter the email address associated with your account and we will send you an email with instructions to reset your password.</p>

                <!-- email -->
                <div class="has-validation">
                    <label asp-for="Input.Email" class="form-label mb-0">Email</label>
                    <input asp-for="Input.Email" class="form-control bgc-orange-20" autocomplete="username" aria-required="true" placeholder="janedoe@gmail.com" required />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <!-- button -->
                <div>
                    <button type="submit" class="btn form-control primary-blue">Request Reset Link</button>
                </div>

                <p><small>Back to <a class="primary-blue-text"  asp-page="./Login">Log In</a></small></p>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
