@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}

,<!--<h1>@ViewData["Title"]</h1>
<h2>Reset your password.</h2>
<hr />-->

<div class="container">
    <div class="row justify-content-center">
        <div class="auth-form-container col-lg-4 col-md-6 card mt-5 p-5">
            <form method="post" class="row g-3 needs-validation" novalidate>
                <h2 class="text-center primary-blue-text">Reset Password</h2>

                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                <input asp-for="Input.Code" type="hidden" />

                <!-- email -->
                <div class="has-validation">
                    <label asp-for="Input.Email" class="form-label mb-0">Email</label>
                    <input asp-for="Input.Email" class="form-control bgc-orange-20" autocomplete="username" aria-required="true" placeholder="janedoe@gmail.com" required />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <!-- password -->
                <div class="has-validation">
                    <label asp-for="Input.Password" class="form-label mb-0">Password</label>
                    <input asp-for="Input.Password" class="form-control bgc-orange-20" autocomplete="new-password" aria-required="true" placeholder="password" required />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div class="has-validation">
                    <label asp-for="Input.ConfirmPassword" class="form-label mb-0">Re-enter Password</label>
                    <input asp-for="Input.ConfirmPassword" class="form-control bgc-orange-20" autocomplete="new-password" aria-required="true" placeholder="Please confirm your password." required />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>

                <div>
                    <button type="submit" class="btn form-control primary-blue">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
